@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: #008fd1;
  --white: #fff;
}
html {
  font-size: 10px;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
  /* width: 100vw; */
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header {
  position: relative;
}
nav {
  padding: 2.6rem 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-links {
  display: flex;
  gap: 4rem;
  list-style: none;
}
.nav-links-container a {
  text-transform: uppercase;
}
.view-all {
  color: var(--white);
  background-color: var(--blue);
  padding: 1.4rem 1.8rem;
}
.get-price {
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 1.4rem 1.2rem;
}
.mobile-nav-btn {
  display: none;
}
/* HERO SECTION */
.hero-section {
  color: var(--white);
  background-color: var(--blue);
  padding: 8rem 5.8rem;
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 2rem;
  align-items: center;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
.hero-text a {
  background-color: var(--white);
  padding: 2.4rem 3.6rem;
  display: inline-block;
  color: var(--blue);
  font-size: 2.4rem;
}

.hero-slider {
  background-color: var(--white);
  padding: 3rem 2rem;
}
.slide {
  display: flex;
  width: 500px;
  overflow: hidden;
  align-items: flex-start;
}
.slide input {
  display: none;
}
.slide-img {
  transition: 2s ease-out;
  object-fit: contain;
}

.manual-navigation {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  z-index: 2;
}
.manual-btn:hover {
  background-color: #23e3c9;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -100%;
}
#radio3:checked ~ .first {
  margin-left: -200%;
}

.auto-navigation {
  position: absolute;
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 452px;
}
.auto-navigation div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}
#radio1:checked ~ .auto-navigation .auto-btn1 {
  background-color: #40d3dc;
}
#radio2:checked ~ .auto-navigation .auto-btn2 {
  background-color: #40d3dc;
}
#radio3:checked ~ .auto-navigation .auto-btn3 {
  background-color: #40d3dc;
}

/* QUALITY SECTION */
.quality-section {
  padding: 3rem 5.5rem;
}
.quality-section-header {
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}
.our-qualities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
.quality {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
}
.quality h2 {
  font-size: 2.4rem;
}
.quality p {
  font-size: 1.8rem;
}

/* FEATURED-PRODUCT SECTION*/
.featured-products {
  background-color: #eee;
  padding: 3rem 5rem;
}
.featured-products-heading {
  font-weight: 600;
  font-size: 3.6rem;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 2.5rem;
}
.products img {
  display: block;
  width: 100%;
}
.product-info {
  /* background-color: var(--white); */
  padding: 1rem 2rem 2rem;
  box-shadow: 0.5rem 0.5rem 5rem rgb(0, 0, 0, 0.1);
  border-radius: 0.7rem;
}
.product-price {
  font-weight: 600;
}
.view-all-products {
  display: flex;
  justify-content: center;
}
.view-all-btn {
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--blue);
  padding: 1.4rem 2rem;
  display: inline-block;
  margin-top: 5rem;
  /* text-align: center; */
}

/* PARTNERS SECTION */
.partners {
  padding: 4rem 0;
}
.partners h2 {
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2rem;
}
.partners-logo {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

/* REVIEW SECTION */

.reviews {
  background-color: var(--blue);
  color: var(--white);
  padding: 3.5rem 6rem 5.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.see-all-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.see-all-reviews h2 {
  font-size: 3.6rem;
  padding: 0 2rem;
  border-right: 2px solid var(--white);
}
.see-all-reviews a {
  color: var(--blue);
  padding: 1.4rem 2rem;
  background-color: var(--white);
}
.reviews-header {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 70%;
}
.individual-reviews {
  color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.review-box {
  padding: 1.8rem 1.9rem;
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  gap: 1.7rem;
}
.customer-title {
  font-weight: 700;
  margin-top: 0.9rem;
}
.rounded-img {
  border-radius: 50%;
  background-color: #ddd;
}

/* GET STARTED SESSION */
.get-started {
  color: var(--white);
  padding: 2rem;
  margin: 4rem auto;
  width: 90%;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  gap: 3rem;
}
.get-started-text h2 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
  line-height: 5.7rem;
}
.get-started-text p {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  line-height: 2.8rem;
}
.get-started-text a {
  display: inline-block;
  color: black;
  padding: 1.4rem 2rem;
  background-color: var(--white);
}
.ball {
  align-self: flex-end;
}

/* FOOTER */
footer {
  color: var(--white);
  display: flex;
  gap: 6.5rem;
  padding: 4rem 6rem;
  background-color: var(--blue);
}
footer .waaprint-logo {
  background-color: var(--white);
  padding: 1rem 2rem;
}
.social-media {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
}
ion-icon {
  font-size: 3rem;
  color: var(--white);
}
.copyright {
  display: flex;
  flex-direction: column;
}

/* PRODUCT PAGE STYLING */
.product-page-nav {
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.25);
}

.product-page-hero {
  color: var(--white);
  padding: 3.5rem 12rem;
  background: linear-gradient(
    to right,
    rgba(34, 191, 182, 1),
    rgba(0, 131, 176, 1)
  );
  width: 95%;
  margin: 2rem auto 4rem;
}
.product-page-hero h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-align: center;
}
.product-page-hero p {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.5rem;
  text-align: center;
}
.product-page-main {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.filter p {
  font-size: 3.6rem;
  font-weight: 600;
  padding-right: 6rem;
  border-bottom: 1px solid black;
}
.filter input {
  padding: 1.5rem 2rem;
  background-repeat: no-repeat;
  background-image: url(/img/search\ icon.png);
  background-position: 95% 50%;
  border: 0.64px solid rgba(190, 190, 190, 1);
}
.filter input::placeholder {
  font-size: 1.6rem;
}
.dropdown-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
#select-dropdown {
  padding: 1rem;
}
#select-dropdown option {
  font-size: 2rem;
}
.order-now {
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: var(--white);
  display: inline-block;
  margin-top: 0.9rem;
  font-size: 1.8rem;
}
