@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue: #008fd1;
  --white: #fff;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

header {
}
nav {
  padding: 2.6rem 7.2rem;
  display: flex;
  justify-content: space-between;
}
.nav-links ul {
  display: flex;
  gap: 4rem;
  list-style: none;
}
.nav-links a {
  text-transform: uppercase;
}
.view-all {
  color: var(--white);
  background-color: var(--blue);
  padding: 1.4rem 1.8rem;
}
.get-price {
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 1.4rem 1.2rem;
}
.hero-section {
  color: var(--white);
  background-color: var(--blue);
  padding: 8rem 5.8rem;
  display: grid;
  grid-template-columns: 60fr 40fr;
}
.hero-text h1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 7rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.6rem;
  margin-bottom: 2rem;
}
.hero-text a {
  background-color: var(--white);
  padding: 2.4rem 3.6rem;
  display: inline-block;
  color: var(--blue);
  font-size: 2.4rem;
}
